body{
  display: grid;
  grid-template-rows:  1fr 1fr ;
  text-align: center;
  margin: 0;
}

/*Header*/
header{
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background-color: #ff8660;
  height:10vh;
  font-size: 2vh;
}
/*Le bouton en haut a droite*/
#accueil{
  width:6vw ;
  height: 6vh;
  position: fixed;
  top: 0;
  right: 0;
}
button img{
  height: 5vh;
  width: 5vw;
}

ul{
  margin-top:10vh;
  margin-bottom:0;
  list-style-type: none;
}
img{
  height:5vh;
}

/*Les liens*/
a:hover{
  color: red;
  text-decoration: none;
}

/*Le footer*/
footer
{
    background-color: aquamarine;
    position: fixed;
    text-align: center;
    width: 100vw;
    bottom: 0;
    padding-bottom:0;
    margin: 0;
}
/*Les liens du footer*/
footer p
{
    margin: 0;
    padding-bottom:5px
}

