body{
    display: grid;
    grid-template-rows:  1fr 2fr 1fr 1fr;

    margin: 0;
}

/*Header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #ff8660;
    height:10vh;
    font-size: 2vh;
}
/*Le bouton en haut a droite*/
#accueil{
    width:6vw ;
    height: 6vh;
    position: fixed;
    top: 0;
    right: 0;
}
button img{
    height: 5vh;
    width: 5vw;
}

/*Le formulaire*/
form {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    text-align: center;
    margin-top: 20vh;
}
input{
    background-color: rgb(240, 235, 235);
}
form button{

    position: relative;
    height:5vh;
    width: 20vw;
    align-self: center;
    left: 40vw;
    right: 40vw;
    
}
/*Le bouton payer*/
#Payer{
    position: relative;
    left: 48vw;
    right: 40vw;
    width: 10vw;
    height: 5vh;
    background-color: rgb(0, 204, 91);
}
#Payer:hover{
    color:white;
    border:none;
    background-color: rgb(2, 108, 50);
}




/*footer*/
footer{
    background-color: aquamarine;
    position: fixed;
    text-align: center;
    width: 100vw;
    bottom: 0;
    padding-bottom: 0 ;
    margin: 0;
    height:20vh;
}
/*Les liens du footer*/
a:hover{

    color: red;
    text-decoration: none;
}
