body{
    display: grid;
    grid-template-rows:  60vh 20vh;
    margin-left:0;
    margin-bottom:0;
    margin-top: 10vh;
    width:100%;
    height:100%;

}

/*Header*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: #ff8660;
    height:10vh;
    font-size: 2vh;
}
/*Le bouton en haut a droite*/
#accueil{
    width:6vw ;
    height: 6vh;
    position: fixed;
    top: 0;
    right: 0;
}
button img{
    height: 5vh;
    width: 5vw;
}

/*Le bouton de la page d'accueil*/
#commander
{
    position: fixed;
    left:40vw;
    right:40vw;
    top:30vh;
    bottom: 20vh;
    width:20vw;
    height: 10vh;
    background-color: lightcoral;
}
#commander:hover
{
    background-color: darkred;
    color:white;
    border-style: none;
}

/*La page commande*/
h2
{
    text-align: center;
}

/*Le formulaire*/
/*Le placement général*/
form {
    display: grid;
    margin-top: 1vh;
    grid-template: 2fr 2fr 10fr 10fr 10fr 10fr 10fr 20fr 10fr 20fr 1fr/ 1fr 1fr 1fr 1fr;
    margin-bottom: 20vh;
    padding-bottom: 0;
}
/*Les titres*/
form h2{
    grid-area: 1/1/2/5;
}
form h2+h3{
    text-align: center;
    grid-area: 2/1/3/5;
}
form h3{
    grid-column: span 2;
    text-align: right;
    margin-right: 1vw;
}
/*Les premiers boutons radios*/
form label[for="tcmenu"]{
    grid-area: 3/1/4/2;
    text-align: right;
    margin:0;
}
form #tcmenu{
    grid-area: 3/2/4/3;
    width: 2vw;
    height: 2vh;
    margin-top:0;
}
form label[for="tcsk"]{
    grid-area: 3/3/4/4;
    text-align: right;
    margin:0;
}
form #tcsk{
    text-align: left;
    width: 2vw;
    height: 2vh;
    margin-top:0;
}
/*Placement des séléctions*/
form select{
    grid-column: span 2;
    text-align: left;
    margin: 1.5vh 15vw 1.5vh 1vw;
}
/*Placement de "lieu de récupération"*/
form :nth-child(15) {
    grid-area: 8/1/9/5;
    text-align: center;
}
/*Les derniers boutons radios*/
form label[for="lrcsp"]{
    grid-area: 9/1/10/2;
    text-align: right;
    margin:0;
}
form #lrcsp{
    grid-area: 9/2/10/3;
    width: 2vw;
    height: 2vh;
    margin-top:0;
}
form label[for="lrcae"]{
    grid-area: 9/3/10/4;
    text-align: right;
    margin:0;
}
form #lrcae{
    text-align: left;
    width: 2vw;
    height: 2vh;
    margin-top:0;
}
/*le texte à remplir "l'adresse de récupératin"*/
#arc{
    grid-area: 10/3/11/5;
    height: 2.5vh;
    margin: 1vh 15vw 0 1vw;
}
input{
    background-color: rgb(240, 235, 235);
}

/*Le "bouton commander"*/
form button{
    position: relative;
    top:3.5vh;
    right: 13vw;
    grid-area: 11/3/12/4;
    height:3vh;
    width:21vw;
    margin:0;
    padding:0;
    background-color: rgb(0, 204, 91);
}
form button:hover{
    color:white;
    border:none;
    background-color: rgb(2, 108, 50);
}


/*Le footer*/
footer
{
    background-color: aquamarine;
    position: fixed;
    text-align: center;
    width: 100vw;
    bottom: 0;
    padding-bottom:0;
    margin: 0;
}
/*Les liens du footer*/
footer p
{
    margin: 0;
    padding-bottom:5px
}
a:hover{
    color: red;
    text-decoration: none;
}

